
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/allowed_sounds.properties
config/oculus.properties
config/packetfixer.properties
config/sound_physics_remastered/soundphysics.properties
config/illuminations.properties
config/spark/activity.json
config/illuminations.properties
config/voicechat/voicechat-client.properties
config/spark/activity.json
config/jei/world/local/foibles/bookmarks.ini
config/asyncparticles/asyncparticles-mixin.properties
config/asyncparticles/asyncparticles-mixin.properties
config/illuminations.properties
