#Entity Scaling Configuration
#
# This configuration overwrites the automatic calculated scaling factors for entity types.
# The scaling factors are used to adjust the size of the entity to match the size of mob farm.
# This is useful for entities with extra large wings or other body parts.
#
#  The format is as follows:
#  - <entity_name> : <scaling_factor>
#Tue May 20 12:25:32 CDT 2025
iceandfire\:fire_dragon=3.5
