#Requires Animation Tick Configuration
#
# This configuration file lists the known entities which requires an animation tick.
#
#  The format is as follows:
#  - <entity_name> : <true|false>
#Tue May 20 12:25:32 CDT 2025
iceandfire\:lightning_dragon=true
iceandfire\:fire_dragon=true
iceandfire\:ice_dragon=true
